<div class="h-screen flex items-center justify-center">
  <div class="p-6 max-w-96 mx-auto  bg-loginbackground rounded-xl shadow-lg flex items-center justify-between flex-col space-y-4">
    <div class="text-white bold">Login</div>
    <div><input type="text" name="" id="" placeholder="Email" class="p-2 rounded-sm"></div>
    <div><input type="text" name="" id="" placeholder="password" class="p-2 rounded-sm"></div>
    <div><button type="submit" class="bg-savebtn text-white p-2 rounded-sm">Bestätigen</button></div>
  </div>
</div>

